/* Make title block text white on a dark background */
.title.neg {
  background-color: #003366; /* dark navy (adjust as you like) */
  color: white;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

.quarto-title-block {
  display: none;
}

.listing-box-title {
  font-size: 12px; 
  font: bold;
}
.listing-box-subtitle {
  font-size: 11px; 
}
.listing-box-education {
  font-size: 10px; 
  font: italic;
}